<div id="board">
<%= raw draw_board %>
</div>
<br>
<%# link_to 'Make Move', :controller => :board, :action => :make_move %>
<br>
Valid Moves:<br>
<%= raw show_valid_moves %>
<!--
<br>
Solved: <%# @is_solved %>
<br><br>
Valid Move: From 3, over 1, into 0: <%# @board.is_valid_move('3:1:0') %><br>
Valid Move: From 3, over 4, into 5: <%# @board.is_valid_move('3:4:5') %><br>
Valid Move: From 0, over 1, into 3: <%# @board.is_valid_move('0:1:3') %><br>
-->


