// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Set font family and size so peg board is drawn correctly
div#board {
  font-family: monospace;
  font-size: -webkit-xxx-large;
  padding-left: 10px;;
}
