// Place all the styles related to the board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Set font family and size so peg board is drawn correctly
div#wrapper {
  width: 800px;
  margin: 0 auto;
  display: flex;
  padding-top: 65px;
}

div#left {
  float: left;
  width: 200px;
  font-size: large;
  padding-right: 50px;
  //padding-top: 25px;
}

div#left fieldset {
  width: 150px;
  line-height: 5px;
  -webkit-padding-before: 15px;
}

div#left fieldset#legend {
  -webkit-padding-before: 5px;
  -webkit-padding-after: 0px;
}

div#left p {
  font-size: medium;
}

div#board {
  font-family: monospace;
  font-size: -webkit-xxx-large;
  text-align: center;
  //padding: 10px;
  width:400px
}

div#board label {
  font-size: x-large;
}

div#board h1 {
  font-size: xx-large;
}

div#right {
  float: right;
  width: 200px;
  font-size: large;
  padding-left: 50px;
  //padding-top: 25px;
}

div#right fieldset {
  width: 150px;
  -webkit-padding-before: 15px;
}


