<div class="messages">
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>">
        <div class="alertMessage"><%= message %></div>
      </div>
  <% end %>
</div>